<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thetruetruth/quran-data-kfgqpc@main/css/kfgqpc.font.css" />
    <link rel="stylesheet" href="../static/styles/index.css" />
</head>

<body>
    <div class="all-rewayas">
        <a href={{ url_for('quran', rewayah='qaloon' ) }}>Qaloon 'an Nafi'</a>
        <a href={{ url_for('quran', rewayah='warsh' ) }}>Warsh 'an Nafi'</a>

        <a href={{ url_for('quran', rewayah='hafs' ) }}>Hafs 'an Asim</a>
        <a href={{ url_for('quran', rewayah='shouba' ) }}>Shouba 'an Asim</a>

        <a href={{ url_for('quran', rewayah='bazzi' ) }}>Bazzi 'an Ibn Kathir</a>
        <a href={{ url_for('quran', rewayah='qumbul' ) }}>Qumbul 'an Ibn Kathir</a>

        <a href={{ url_for('quran', rewayah='doori' ) }}>Doori 'an Abu ‘Amr Al-Basree</a>
        <a href={{ url_for('quran', rewayah='soosi' ) }}>Soosi 'an Abu ‘Amr Al-Basree</a>
    </div>
</body>

</html>
