{% extends "layout.html" %}

{% block body %}
    <div class="all-rewayas">
        <div class="qari">
            <h2>Nafi'</h2>
            <a href={{ url_for('quran', rewayah='qaloon' ) }}>Qaloon 'an Nafi'</a>
            <a href={{ url_for('quran', rewayah='warsh' ) }}>Warsh 'an Nafi'</a>
        </div>

        <div class="qari">
            <h2>Asim</h2>
            <a href={{ url_for('quran', rewayah='hafs' ) }}>Hafs 'an Asim</a>
            <a href={{ url_for('quran', rewayah='shouba' ) }}>Shouba 'an Asim</a>
        </div>

        <div class="qari">
            <h2>Ibn Kathir</h2>
            <a href={{ url_for('quran', rewayah='bazzi' ) }}>Bazzi 'an Ibn Kathir</a>
            <a href={{ url_for('quran', rewayah='qumbul' ) }}>Qumbul 'an Ibn Kathir</a>
        </div>

        <div class="qari">
            <h2>Abu ‘Amr Al-Basree</h2>
            <a href={{ url_for('quran', rewayah='doori' ) }}>Doori 'an Abu ‘Amr Al-Basree</a>
            <a href={{ url_for('quran', rewayah='soosi' ) }}>Soosi 'an Abu ‘Amr Al-Basree</a>
        </div>
    </div>
{% endblock %}