<html>

<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/thetruetruth/quran-data-kfgqpc@main/css/kfgqpc.font.css" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22></text>📖</svg>">

    <title>Quran World</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" href={{ url_for('index') }}>📖 <strong>Quran World</strong></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.abouttajweed.com/" target=”_blank”>Learn Tajweed</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rewayas
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href={{ url_for('quran', rewayah='qaloon' ) }}>Qaloon 'an Nafi'</a>
                    <a class="dropdown-item" href={{ url_for('quran', rewayah='warsh' ) }}>Warsh 'an Nafi'</a>

                    <a class="dropdown-item" href={{ url_for('quran', rewayah='hafs' ) }}>Hafs 'an Asim</a>
                    <a class="dropdown-item" href={{ url_for('quran', rewayah='shouba' ) }}>Shouba 'an Asim</a>

                    <a class="dropdown-item" href={{ url_for('quran', rewayah='bazzi' ) }}>Bazzi 'an Ibn Kathir</a>
                    <a class="dropdown-item" href={{ url_for('quran', rewayah='qumbul' ) }}>Qumbul 'an Ibn Kathir</a>

                    <a class="dropdown-item" href={{ url_for('quran', rewayah='doori' ) }}>Doori 'an Abu ‘Amr Al-Basree</a>
                    <a class="dropdown-item" href={{ url_for('quran', rewayah='soosi' ) }}>Soosi 'an Abu ‘Amr Al-Basree</a>

                    <hr> 

                    <a class="dropdown-item" href="https://www.abouttajweed.com/" target=”_blank”><strong>Rewayah Rules</strong></a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Surah Menu
                </a>

                <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                    {% block sura_dropdown %}{% endblock %}
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href={{ url_for('index') }}><strong>{% block current_rewayah %}{% endblock %}</strong></a>
            </li>
        </ul>
    </div>
</nav>

<body>
    {% block body %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>