<html lang="ar" dir="rtl">
    <head>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/thetruetruth/quran-data-kfgqpc@main/css/kfgqpc.font.css"
        />
        <link rel="stylesheet" href="../static/styles/index.css" />
    </head>
    <body>
        <div>
            {% for aya in quran %} 
                {% if aya["aya_no"] == 1 %}
                    <div class="surah-name">{{ aya["sura_name_ar"] }}</div>

                    {% if aya["sura_name_en"] != "At-Taubah" %}
                        {% if aya["aya_text"] != "بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ ١" %}
                            <div class="basmallah">﷽</div>
                            <aya>{{ aya["aya_text"] }}</aya>
                        {% else %}
                            <aya>{{ aya["aya_text"] }}</aya>
                        {% endif %}
                    {% endif %} 
                    
                {% else %}
                    <aya>{{ aya["aya_text"] }}</aya>
                {% endif %} 
            {% endfor %}
        </div>
    </body>
</html>
