{% extends "layout.html" %}

{% block body %}
    <quran style="font-family: '{{ font }}';">
        {% for aya in quran %}
            {% if aya["aya_no"] == 1 %}
                {% if aya["sura_name_en"] != "Al-Fātiḥah" %}<hr>{% endif %}

                <center><surah-name>سُورَة {{ aya["sura_name_ar"] }}</surah-name></center>

                {% if aya["sura_name_en"] != "At-Taubah" %}
                    {% if aya["aya_text"] != "بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ ١" %}
                        <div class="basmallah">﷽</div>
                        <aya>{{ aya["aya_text"] }}</aya>
                    {% else %}
                        <aya>{{ aya["aya_text"] }}</aya>
                    {% endif %}
            {% endif %}

            {% else %}
                <aya>{{ aya["aya_text"] }}</aya>
            {% endif %}
        {% endfor %}
    </quran>
{% endblock %}

{% block current_rewayah %}
    {{ rewayah }}
{% endblock %}